{% load static %}
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Medick Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Medick Medical Category Bootstrap Responsive Web Template | About :: W3Layouts </title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
  <script src="https://kit.fontawesome.com/87f7aa2b39.js" crossorigin="anonymous"></script>

  <style>

    .nav-item > button > a:hover
    {
      color: white !important;
    }

    .nav-item > button:hover
    {
      transform: scale(1.05);
      transition: transform 0.1s linear;
    }

  </style>

</head>

<body>
 
    {% include 'doctor_header.html' %}


    <!--/breadcrumb-bg-->
    <div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5">
      <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <h2 class="title pt-5">About</h2>
        <ul class="breadcrumbs-custom-path mt-3 text-center">
          <li><a href="index.html">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
        </ul>
      </div>
    </div>
  <!--//breadcrumb-bg-->


  <!-- banner bottom shape -->
  <div class="position-relative">
    <div class="shape overflow-hidden">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- banner bottom shape -->
  

  <!-- /w3l-content-2-->
  <!-- /bottom-grids-->
  <section class="w3l-bottom-grids-6 py-5" id="services1">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="title-content text-center">
        <h6 class="title-subhny text-center">Motivation is easy</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">Our Core Values</h3>
      </div>
      <div class="grids-area-hny text-center row mt-lg-4">
        <div class="col-lg-4 col-md-6 grids-feature">
          <div class="area-box icon-blue">
            <span class="fa fa-lightbulb-o"></span>
            <h4><a href="#feature" class="title-head">Innavation</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
          <div class="area-box icon-pink">
            <span class="fa fa-handshake-o"></span>
            <h4><a href="#feature" class="title-head">Compassion</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
          <div class="area-box icon-yellow">
            <span class="fa fa-podcast"></span>
            <h4><a href="#feature" class="title-head">Integrity</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //bottom-grids-->


  <!-- home page block grids -->
  <section class="w3l-two-servicses py-5" id="services2">
    <div class="container py-lg-5 py-md-4 py-2">
     
      <div class="row bottom-ab-grids">
        <div class="col-lg-6 bottom-ab-left align-self">
          <h6 class="title-subhny">What We Offer</h6>
          <h3 class="title-w3l mb-4">Our Advantages</h3>
          <p class="">Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia acere aperiam sequi optio consectetur adipisicing
            dolor et amet. </p>
          <ul class="w3l-right-book mt-4">
            <li><span class="fa fa-check"></span> Specialists and Dentists as One Team</li>
            <li><span class="fa fa-check"></span> Complimentary Consultations</li>
            <li><span class="fa fa-check"></span> All Types of Dental Services</li>
            <li><span class="fa fa-check"></span> On-site Laboratory</li>
          </ul>
        </div>
        <div class="col-lg-6 bottom-right-grids pl-lg-5 mt-lg-0 mt-5">
          <img src="{% static 'images/g4.jpg' %}" alt="" class="radius-image img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- //home page block grids -->

  <!--/team-sec-->
  <section class="w3l-team">
    <div class="team py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="title-content text-center">
          <h6 class="title-subhny text-center">Leading Team</h6>
          <h3 class="title-w3l mb-sm-3 text-center">Meet Our Team</h3>
        </div>

        
        <div class="row team-row">
          {% for i in doctor_list %}
          <div class="col-lg-3 col-6 team-wrap mt-4 pt-lg-2" style="max-width: 200px; max-height: 400px;">
           <div class="team-info" >
              <div class="column position-relative img-circle">
                <a href="#url"><img src="{{i.profile_pic.url}}" alt="" class="img-fluid" /></a>
              </div>
              <div class="column-btm">
                <h3 class="name-pos"><a href="#url">{{i.full_name}}
                </a></h3>
                <p>{{i.special}}</p>
              </div>
            </div>
          </div>
          {% endfor%}
        </div>
       <br>
       
       <div style="display: flex; align-items: center; justify-content: center;"><button href="#" style=" background-color: #339ECA; width:150px; height:50px; color:white; border-radius:20px; border:none; font-size: 20px;">See More</button></div>
       
      </div>
    </div>
  </section>
  <!--//team-sec-->
  
  {% include 'footer.html' %}
  

  <!-- copyright -->
  <section class="w3l-copyright">
    <div class="container">
      <div class="row bottom-copies">
        <p class="col-lg-8 copy-footer-29">© 2021 Medick. All rights reserved. Design by <a
            href="https://w3layouts.com/" target="_blank">
            W3Layouts</a></p>

        <div class="col-lg-4 main-social-footer-29">
          <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
          <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
          <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
          <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
        </div>

      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- //copyright -->

  
  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/theme-change.js' %}"></script>

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->


  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>