{% load static %}

 <!-- footer -->
 <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
            <div class="footer-logo mb-3">
              <a class="navbar-brand" href="{% url 'home' %}">Medick</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit.</p>
            <ul class="mt-3">
              <li><a href="tel:+(21) 255 999 8888"><span class="fa fa-phone"></span> +(21) 255 999 8888</a></li>
              <li><a href="mailto:medick@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                  medick@mail.com</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

            <ul>
             <h6 class="footer-title-29">History</h6>
              <li><a href="{% url 'about' %}"">About Us</a></li>
              <li><a href="blog.html"> Blog Posts</a></li>
              <li><a href="services.html">Departments</a></li>
              <li><a href="#careers"> Careers</a></li>
              <li><a href="about.html">Team</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Useful Links</h6>
            <ul>
              <li><a href="#terms">Terms of service</a></li>
              <li><a href="#privacy"> Privacy policy</a></li>
              <li><a href="#doc"> Documentation</a></li>
              <li><a href="#support"> Support</a></li>
              <li><a href="#components"> Components</a></li>
              <li><a href="#changelog"> Changelog</a></li>
            </ul>

          </div>
          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Subscribe to our Newsletter </h6>
            <p>Enter your email and receive the latest news, updates and special offers from us.</p>

            <form action="#" class="subscribe" method="post">
              <input type="email" name="email" placeholder="Your Email Address" required="">
              <button class="btn btn-style btn-primary w-100 mt-3">Subscibe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //footer -->
