{% load static %}

    <!--header-->
    <div class="header-w3l" style="position: absolute; background-color: transparent; z-index: 91; left:18%; ">
        <header id="site-header" class="header-w3l fixed-top" style="position: static; background-color: transparent;">
          <div class="container" style="background-color: transparent;">
            <nav class="navbar navbar-expand-lg stroke">
              <a class="navbar-brand" href="{% url 'home' %}" style="margin-right: 150px;">
               Med<span class="sub-logo">i</span>ck</span>
              </a>
              <!-- if logo is image enable this   
                  <a class="navbar-brand" href="#index.html">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                  </a> -->
              <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-lg-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'department' %}">Departments</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>


                 {% if user_data %}
                

                 <li class="nav-item">
                  <button style = 'background-color:#339ECA; border: none; border-radius: 30px;width:200px; text-align: center;padding-top: 0px; font-size: 10px;'><a class="nav-link" href="{% url 'appoint' %}">Make an Appointment</a></button>
                </li>
                <div>
                <li class="nav-item">
                  
                  <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"> &nbsp;</i>Logout</a>
                </li>

                
                  <li>
                    <a href="">
                      <img src="{{user_data.profile_pic.url}}" alt="profile pic" style="width: 30px; height: 30px; border-radius: 50%;">
                      <span aria-hidden="true"></span> {{user_data.full_name}}
                    </a>
                </li>
                </div>

            {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <button style = 'background-color:#339ECA; border: none; border-radius: 30px;width:150px; text-align: center;padding-top: 0px;'><a class="nav-link" href="{% url 'doctor' %}">I am a doctor</a></button>
                </li>
            {% endif %}

                 </ul>
      
              </div>
              
            </nav>
          </div>
        </header>
      </div>
        <!-- //header -->