
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">

	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">

    <!-- styles -->
    <style>
        input
        {
            border: none;
            border-bottom: 0.1px solid black;
            width: 400px;
            height: 50px;
        }
        body{
            background-color: white;
        }
    </style>
</head>
<body>
    <center>

        <br><br><br>

        <h1 style="color:#339ECA">Login</h1>

        <br><br>
        <span>
            Don't have an account ? <a href="{% url 'register' %}" style="color:#339ECA">Register</a>
        </span>

        <div style = 'background-color: white; height:600px; margin-top:60px; width: 500px;'>


            <form action="{% url 'register' %}" method="post">

                    {% csrf_token %}
                    {{msg}}

                    <br>
                    <br>

                    <div>
                        <input type="email" placeholder="E-mail" name="email" required="">
                    </div>

                    <br>

                    <div>
                        <input type="password" placeholder="Password" name="password" id="password1" required="">
                    </div>

                    <br>

                    <span>
                        <a href="#">forgot password ?</a>
                    </span>

                    <br>
                    <br>
                
                    <div>
                        <button style="color:white; background-color: #FF5722; border:none; height:50px;font-size:25px; width:130px; border-radius:26px" type = 'submit'>Submit</button>
                    </div>
            </form>
                 
            <br> 

           
         </div>
    </center>
  
</body>
</html>