{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
</head>
<body>

    <center>
      <br> <br> <br>
      <h1>Doctor is Available, Pay and book the Appointment</h1>
      <br> <br> <br>
        <!-- Write code for razorpay here -->

<form action="{% url 'paymenthandler' %}" method="POST" id="razorpay-form">

  <script
    src="https://checkout.razorpay.com/v1/checkout.js"

    data-key="{{ razorpay_key_id }}"
    data-amount="{{ amount }}"
    data-currency="INR"
    data-order_id="{{ razorpay_order_id }}"
    data-theme.color="#F37254"
  ></script>

  <input type="hidden" custom="Hidden Element" name="hidden">

</form>

<!-- <button id="pay-btn">Pay</button> -->
</center>

<script>
document.getElementById('pay-btn').onclick = function(e){
    var razorPayForm = document.getElementById('razorpay-form');
    razorPayForm.submit();
    e.preventDefault();
}
</script>
  
  
</body>
</html>

